<h1>Тройка тарифы 2020</h1>
<p>Карту Тройка можно использовать для оплаты проезда в метро, на наземном транспорте, а также в электричках. Залоговая стоимость карты Тройка составляет 50 рублей. На данный момент существуют следующие тарифы, которые можно записать на единый проездной – транспортную карту «Тройка»:</p>
<p>Указанные тарифы действительны с 1 февраля 2020 года</p>
<!-- TODO: Калькулятор тарифов -->
<nz-table nzTemplateMode="true">
  <caption>Билеты для записи на карту тройка</caption>
  <thead>
  <tr>
    <th>кол-во поездок/дней</th>
    <th>Билет "Единый"</th>
    <th>Билет ТАТ</th>
    <th>Тариф "Кошелек"</th>
  </tr>
  <tr class="table-active">
    <td></td>
    <td>Билет "Единый" можно записать на карту Тройка. Он позволяет совершать поездки на метро, монорельсе или на наземном транспорте</td>
    <td>Билет ТАТ можно записать на карту Тройка. Он позволяет совершать поездки на наземном транспорте (троллейбус, автобус, трамвай)</td>
    <td>Баланс карты Тройка можно пополнить на сумму до 3 000 рублей и оплачивать разовые поездки на метро или наземном транспорте</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1</td>
    <td>57 &#8381; <sup>*</sup></td>
    <td>47 &#8381; <sup>*</sup></td>
    <td>40 &#8381;</td>
  </tr>
  <tr>
    <td>2</td>
    <td>114 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>60</td>
    <td>1 970 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>1 сут.</td>
    <td>230 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>3 сут.</td>
    <td>438 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>30 дней</td>
    <td>2 170 &#8381;</td>
    <td>1 180 &#8381;</td>
    <td>-</td>
  </tr>
  <tr>
    <td>90 дней</td>
    <td>5 430 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>365 дней</td>
    <td>19 500 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>Календарный месяц</td>
    <td>2 900 &#8381;</td>
    <td>-</td>
    <td>-</td>
  </tr>
  <tr>
    <td>90 минут» с пересадками <sup>**</sup></td>
    <td>-</td>
    <td>-</td>
    <td>62 &#8381;</td>
  </tr>
  </tbody>
</nz-table>
<p><sup>*</sup> - Билет продается только у водителя и действует 5 дней с момента продажи (включая день продажи).</p>
<p><sup>**</sup> - Билет позволяет за 90 минут совершить одну поездку на метро/монорельсе/МЦК и неограниченное количество пересадок на наземном транспорте. При пересадке с одного вида транспорта на другой тариф “90 минут” включается автоматически.</p>
<nz-table nzTemplateMode="true">
  <caption>Стоимость безлимитных билетов для студентов/учащихся</caption>
  <thead>
  <tr>
    <th></th>
    <th>Календарный месяц</th>
    <th>3 календарных месяца</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Метро</td>
    <td>405 &#8381;</td>
    <td>1 215 &#8381;</td>
  </tr>
  <tr>
    <td>Наземный транспорт</td>
    <td>265 &#8381;</td>
    <td>795 &#8381;</td>
  </tr>
  </tbody>
</nz-table>
<nz-table nzTemplateMode="true">
  <caption>Другие виды билетов</caption>
  <thead>
  <tr>
    <th>Название билета</th>
    <th>Стоимость билета</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Билет на провоз 1 места багажа в метрополитене, монорельсе.</td>
    <td>60 &#8381;</td>
  </tr>
  <tr>
    <td>Оплата поездки с помощью банковских карт или иных электронных средств платежа с технологией бесконтактной оплаты на специально оборудованном турникете (NFC)</td>
    <td>44 &#8381;</td>
  </tr>
  <!-- <tr>
      <td>“Автобус” безлимитный билет на 30 дней действует между зонами А и Б и на маршрутах № 510, №510Э</td>
      <td>1 950 &#8381;</td>
  </tr> -->
  </tbody>
</nz-table>
