<nav>
  <ul nz-menu nzMode="horizontal" nzTheme="dark" nz-row nzType="flex" nzJustify="center">
    <li class="main-page-link" nz-menu-item [routerLink]="['/']">
      <img src="../../../assets/icons/header/card.png">
      Главная
    </li>
    <li nz-menu-item [routerLink]="['/price']">
      <i nz-icon nzType="bars"></i>
      Тарифы
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="question"></i>
      Вопросы и ответы
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="notification"></i>
      Новости
    </li>
    <li nz-menu-item>
      <i nz-icon nzType="credit-card"></i>
      Бонусная программа
    </li>
  </ul>
</nav>
