<article>
    <h1>Бонусная программа лояльности "Тройка"</h1>
    <p>Уникальная возможность накопления бонусов с помощью оплаты своей транспортной карты и покупок, привлекает все большее число экономных пользователей. Сейчас программа лояльности карт "Тройка" насчитывает около 9 миллионов зарегистрированных участников. </p>
    <h2>Как принять участие в данном проекте?</h2>
    <p>Участником бонусной программы может стать любой счастливый обладатель карты "Тройка". Для этого необходимо:</p>
    <ol>
        <li>Перейти на сайт или загрузить на телефон специальное приложение;</li>
        <li>Зарегистрироваться;</li>
        <li>Привязать собственную карту "Тройка";</li>
        <li>Дождаться сообщения об успешном подтверждении; </li>
        <li>Получить первые скидки за собранные баллы.</li>
    </ol>
    <h2>Накопление бонусов на карту "Тройка"</h2>
    <p>Ходите в заведения, приобретайте товары в оффлайн магазинах и на интернет площадках, пополняйте "Кошелек" и одновременно копите бонусы на карте «Тройка». Также все желающие способны увеличить кэшбэк карты «Тройка». Как это сделать? Элементарно. Проходите увлекательные задания квестов, получайте жетоны и переходите на следующие уровни.</p>
    <h2>Как проверить бонусы на карте "Тройка"?</h2>
    <p>Многие задаются вопросом: "Где и как проверить оставшиеся бонусы на карте "Тройка"?". Ознакомиться с историей недавних операций возможно в личном кабинете, находящемся на https://gorodtroika.ru/.</p>
    <h2>Какую ценность представляет 1 бонус "Тройка"?</h2>
    <p>С помощью накопленных баллов на карте "Тройка" можно не только оплатить проездной билет, но и получить солидные скидки в большинстве точек вашего города, сотрудничающих с бонусной программой.</p>
    <h2>Купон карты «Тройка» вместо бонусов</h2>
    <p>Некоторые партнеры бонусного проекта «Город» карты «Тройка» предоставляют скидку на приобретение продукции только при наличии купона, который располагается на странице партнёра. Распечатывайте купоны у себя дома за счёт списания бонусов с вашей собственной карты «Тройка» и получайте желанные скидки.</p>
</article>