<h1>Карта тройка</h1>

<h2>Что такое карта тройка</h2>
<p>Удобству расчета за транспортные услуги в Москве жители обязаны карте «Тройка». Она позволяет без дополнительных трудностей воспользоваться услугами наземного и подземного вида перевозок. Как работает карта «Тройка»? Будем подробно разбираться с самыми популярными вопросами.</p>

<nz-carousel nzAutoPlay nzDots>
  <div nz-carousel-content>
    <h3>21</h3>
  </div>
  <div nz-carousel-content>
    <h3>1</h3>
  </div>
  <div nz-carousel-content>
    <h3>13</h3>
  </div>
</nz-carousel>
