<h1>Карта тройка</h1>

<h2>Что такое карта тройка</h2>
<p>Удобству расчета за транспортные услуги в Москве жители обязаны карте «Тройка». Она позволяет без дополнительных трудностей воспользоваться услугами наземного и подземного вида перевозок. Как работает карта «Тройка»? Будем подробно разбираться с самыми популярными вопросами.</p>

<nz-carousel nzAutoPlay nzDots>
  <div class="carousel-item" nz-carousel-content>
    <img class="carousel-img" src="../../assets/content/main/tickets.jpg" alt="Карта Тройка">
  </div>
  <div class="carousel-item" nz-carousel-content>
    <img class="carousel-img" src="../../assets/content/main/troyka_validator.jpg" alt="Карта Тройка">
  </div>
  <div class="carousel-item" nz-carousel-content>
    <img class="carousel-img" src="../../assets/content/main/cards.jpg" alt="Карта Тройка">
  </div>
</nz-carousel> 
<!-- TODO: Баг с нижним отступом при переключении страниц -->
<section>
  <h2>Основное предназначение</h2>
  <p> «Тройка» – это пластиковая карта, при помощи которой можно оплатить проезд в городе Москва. <br>
    Она обладает рядом неоспоримых преимуществ:</p>
  <ul>
    <li><em>экономия времени</em>. Вам не нужно больше стоять в длинных очередях для покупки разового билета;
    </li>
    <li><em>экономия денег</em>. При оплате сначала списываются более дешевые поездки, а затем включается общий
      тариф. Также можно сэкономить на проезде с несколькими пересадками в течение 90 минут;</li>
    <li><em>бесплатное пользование картой</em>. Залоговая стоимость, оплачиваемая при приобретении, составляет 50
      руб. В случае возврата карты залоговая стоимость также возвращается;</li>
    <li><em>универсальность</em>. Вам не потребуется приобретать билеты отдельно, картой можно оплатить любое
      передвижение через государственного перевозчика в пределах столицы.</li>
  </ul>
  <p>Таким образом, карта «Тройка» позволяет использовать услуги метро, приобретая специальный вид
    проездного документа. Понять, как действует карта метро «Тройка» под силу даже новичку – все
    интуитивно понятно. Для проезда приложите карту к специальному валидатору на турникете желтого
    цвета.</p>
</section>
<section>
  <h2>Как пользоваться «Тройкой» </h2>
  <p>Приобрести пластик за залоговую стоимость нужно в любой кассе Московского метрополитена, кассах
    Центрального кольца, в электронных устройствах ГУП «Мосгортранс». <br>
    Пополнить карту наличными денежными средствами разрешено через:</p>
  <ul>
    <li>внесение оплаты в кассу;</li>
    <li>терминалы, расположенные в вестибюле метрополитена;</li>
    <li>официальный сайт transport.mos.ru;</li>
    <li>интернет-банкинг;</li>
    <li>электронный кошелек WebMoney, Qiwi Wallet;</li>
    <li>СМС: troika xxxx(номер карточки) xxx(сумма) через пробелы на номер 3210.</li>
  </ul>
  <p>
    После удаленного перечисления денежных средств карту необходимо активировать при помощи специальных
    терминалов внутри метрополитена. Их отличительная особенность – желтый цвет. <br>
    Лимит пополнения составляет 3 000 росс. руб. Срок действия карты «Тройка» составляет 5 лет с момента
    последнего расчета. В течение этого периода нужно израсходовать деньги и поездки. <br>
    Чтобы оплатить проезд – приложите пластик к валидатору. Проезд по карте тройка будет стоить дешевле,
    если вы перемещаетесь на нескольких видах транспорта в течение девяноста минут. Первый билет будет
    оплачен по полной стоимости, а последующие оплаты пройдут согласно действующим скидочным тарифам.
  </p>
</section>
<section>
  <h2>Где действует карта тройка</h2>
  <p>Платежный билет позволяет купить практически все виды проездных документов на наземный и подземный
    транспорт Москвы. <br>
    Если вас интересуют услуги и пригородных средств передвижения, то совмещенная карта «Тройка» и
    «Стрелка» будет идеальным решением. Такое сочетание позволит оплатить проезд и в пригородных
    автобусах и электричках. Имеются различные счета для Москвы и Подмосковья.</p>
</section>
<section>
  <h2>Снятие денег</h2>
  <p>С одной стороны, карта является проездным документом, но с другой стороны ее можно пополнить, как
    банковскую карту. Возникает логичный вопрос: можно ли снять деньги с карты «Тройка»? <br>
    Оставшуюся сумму вы можете вернуть, обратившись в Пассажирское агентство метрополитена, где
    произведут полный возврат. Однако вернуть деньги с карты тройка можно только через билет «Кошелек»,
    где хранятся неизрасходованные денежные средства. Оплаченные проездные документы, записанные на
    карте «обналичиванию» не подлежат.</p>
</section>
<section>
  <h2>Утеря карты</h2>
  <p>Что же делать, если потерялась карта «Тройка»? Решение зависит от того, была ли карта
    персонализирована. Если нет, то восстановление или блокировка будут невозможны. В случае закрепления
    карты за определенным пассажиром – ситуация улучшается. В данном случае необходимо обращаться в
    организацию, где карта оформлялась. Получив новый вариант, восстановите средства со старой карты
    через Сервисный центр транспортных средств Москвы. <br>
    Итак, мы разобрались, как пользоваться картой тройка. Экономьте время и деньги на поездках!
    Возвращайте и снимайте неизрасходованные деньги с карты «Тройка»! Желаем вам легкого, быстрого и
    приятного пути благодаря удобному и оперативному способу оплаты.</p>
</section>
