/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(180deg, rgba(39,162,161,1) 0%, rgba(36,171,51,1) 50%, rgba(39,162,161,1) 100%);
}



/*
 OLD STYLES!!!!!!!!!!!!
*/

caption {
  caption-side: top;
  font-size: 30px;
  text-align: center;
  color: black;
}

sup {
  color: red;
}

.w-100 {
  height: 400px;
}

.table {
  margin-top: 65px;
}

.gallery {
  padding-top: 12px;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.68);
}

.price_calc {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.price_calc p {
  margin: 0;
  margin-left: 20px;
}

.calc_answers {
  list-style: none;
}
.error-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-404 {
  margin: auto;
  width: 100%;
}

.p-404 {
  font-size: 30px;
}

// NEWS

.news-block {
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 33px 15px 15px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, .64);
  border-top-left-radius: 6px
}
.news-block_time {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 41px;
  font-size: 14px;
  font-weight: bold;
  background: #427d8d;
  color: #fff;
  border-radius: 6px 0 6px 0;
}

.news-article_title {
  font-size: 34px;
}

.news-article_img {
  float: right;
  margin: 10px;
}

@media (max-width: 991px) {
  .w-100 {
    height: 200px;
  }
}

@media (max-width: 550px) {
  .news-article_img {
    width: 100%;
    height: auto;
  }
}
